{% extends 'base.html' %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title" style="float: left;">Pacientes</h4>
            <span class="material-icons" style="float: right;"><a href="{% url 'pacientesadd' %}" style="color: white;">add</a></span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Nome
                  </th>
                  <th>
                    CPF
                  </th>
                  <th>
                    Ações
                  </th>
                </thead>
                {% for Paciente in pacientes %}
                <tbody>
                  <tr>
                    <td>
                      {{ Paciente.id }}
                    </td>
                    <td>
                      {{ Paciente.nome }}
                    </td>
                    <td>
                      {{ Paciente.cpf }}
                    </td>
                    <td class="text-primary">
                      <a href="{% url 'pacientesedit' Paciente.id %}"><span class="material-icons">create</span></a>
                      <a href="{% url 'pacientesdel' Paciente.id %}"><span class="material-icons">delete</span></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}